1. 깃허브 자신의 계정에 수업과 숙제를 올린 소스코드만 참조가능

(그 외의 참조는 부정으로 간주 F처리)



# 데이터 로드
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'
columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
data = pd.read_csv(url, names=columns)

# 데이터 확인
print(data.head())

2. 해당 소스를 이용하여 ML 분류 RF, LR, DT

3. 해당 소스를 이용하여 FCNN

4. 해당 소스를 이용하여 CNN

5. 모든 소스에는 F1값 및 confusion matrix 표시

In [1]:
# 데이터 로드
'''url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'

columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

data = pd.read_csv(url, names=columns)

# 데이터 확인
print(data.head())

2. 해당 소스를 이용하여 ML 분류 RF, LR, DT

3. 해당 소스를 이용하여 FCNN

4. 해당 소스를 이용하여 CNN

5. 모든 소스에는 F1값 및 confusion matrix 표시'''

"url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'\n\ncolumns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']\n\ndata = pd.read_csv(url, names=columns)\n\n# 데이터 확인\nprint(data.head())\n\n2. 해당 소스를 이용하여 ML 분류 RF, LR, DT\n\n3. 해당 소스를 이용하여 FCNN\n\n4. 해당 소스를 이용하여 CNN\n\n5. 모든 소스에는 F1값 및 confusion matrix 표시"

In [2]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns

In [3]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data', names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class'])
data

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [4]:
print(data.head())

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [5]:
X=data.drop('class',axis=1)
X.head()

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med

In [6]:
y=data['class']
y.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [8]:
data.describe()

       buying  maint doors persons lug_boot safety  class
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     2       2    small    low  unacc
freq      432    432   432     576      576    576   1210

In [9]:
from sklearn.preprocessing import LabelEncoder

labelencoder=LabelEncoder()
X['buying']=labelencoder.fit_transform(X['buying'])
X

      buying  maint  doors persons lug_boot safety
0          3  vhigh      2       2    small    low
1          3  vhigh      2       2    small    med
2          3  vhigh      2       2    small   high
3          3  vhigh      2       2      med    low
4          3  vhigh      2       2      med    med
...      ...    ...    ...     ...      ...    ...
1723       1    low  5more    more      med    med
1724       1    low  5more    more      med   high
1725       1    low  5more    more      big    low
1726       1    low  5more    more      big    med
1727       1    low  5more    more      big   high

[1728 rows x 6 columns]

In [10]:
X['maint']=labelencoder.fit_transform(X['buying'])
X

      buying  maint  doors persons lug_boot safety
0          3      3      2       2    small    low
1          3      3      2       2    small    med
2          3      3      2       2    small   high
3          3      3      2       2      med    low
4          3      3      2       2      med    med
...      ...    ...    ...     ...      ...    ...
1723       1      1  5more    more      med    med
1724       1      1  5more    more      med   high
1725       1      1  5more    more      big    low
1726       1      1  5more    more      big    med
1727       1      1  5more    more      big   high

[1728 rows x 6 columns]

In [11]:
X['doors']=labelencoder.fit_transform(X['doors'])
X

      buying  maint  doors persons lug_boot safety
0          3      3      0       2    small    low
1          3      3      0       2    small    med
2          3      3      0       2    small   high
3          3      3      0       2      med    low
4          3      3      0       2      med    med
...      ...    ...    ...     ...      ...    ...
1723       1      1      3    more      med    med
1724       1      1      3    more      med   high
1725       1      1      3    more      big    low
1726       1      1      3    more      big    med
1727       1      1      3    more      big   high

[1728 rows x 6 columns]

In [12]:
X['persons']=labelencoder.fit_transform(X['persons'])
X

      buying  maint  doors  persons lug_boot safety
0          3      3      0        0    small    low
1          3      3      0        0    small    med
2          3      3      0        0    small   high
3          3      3      0        0      med    low
4          3      3      0        0      med    med
...      ...    ...    ...      ...      ...    ...
1723       1      1      3        2      med    med
1724       1      1      3        2      med   high
1725       1      1      3        2      big    low
1726       1      1      3        2      big    med
1727       1      1      3        2      big   high

[1728 rows x 6 columns]

In [13]:
X['lug_boot']=labelencoder.fit_transform(X['lug_boot'])
X

      buying  maint  doors  persons  lug_boot safety
0          3      3      0        0         2    low
1          3      3      0        0         2    med
2          3      3      0        0         2   high
3          3      3      0        0         1    low
4          3      3      0        0         1    med
...      ...    ...    ...      ...       ...    ...
1723       1      1      3        2         1    med
1724       1      1      3        2         1   high
1725       1      1      3        2         0    low
1726       1      1      3        2         0    med
1727       1      1      3        2         0   high

[1728 rows x 6 columns]

In [14]:
X['safety']=labelencoder.fit_transform(X['safety'])
X

      buying  maint  doors  persons  lug_boot  safety
0          3      3      0        0         2       1
1          3      3      0        0         2       2
2          3      3      0        0         2       0
3          3      3      0        0         1       1
4          3      3      0        0         1       2
...      ...    ...    ...      ...       ...     ...
1723       1      1      3        2         1       2
1724       1      1      3        2         1       0
1725       1      1      3        2         0       1
1726       1      1      3        2         0       2
1727       1      1      3        2         0       0

[1728 rows x 6 columns]

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25,random_state=0)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [17]:
clf_lr = LogisticRegression(random_state=0)
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, pred_lr))
print (confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.6527777777777778
[[ 10   0  84   5]
 [  1   0  20   0]
 [ 22   0 269   5]
 [  4   0   9   3]]

In [18]:
clf_dt = DecisionTreeClassifier(random_state=0)
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, pred_dt))
print (confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.7638888888888888
[[ 73   8  10   8]
 [ 21   0   0   0]
 [ 44   0 252   0]
 [ 11   0   0   5]]

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

print ("\n--- Radom Forest ---")
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)
print(accuracy_score(y_test,pred))
print (confusion_matrix(y_test, pred))

--- Radom Forest ---
0.7638888888888888
[[ 66   9  15   9]
 [ 20   1   0   0]
 [ 41   0 255   0]
 [  8   0   0   8]]

In [35]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD,Adam


model = Sequential()

model.add(Dense(64,input_shape=(6,),activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(3,activation='softmax'))

model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 64)                448

 dense_12 (Dense)            (None, 32)                2080

 dense_13 (Dense)            (None, 3)                 99

=================================================================
Total params: 2,627
Trainable params: 2,627
Non-trainable params: 0
_________________________________________________________________

In [36]:
model_history=model.fit(x=X_train, y=y_train, epochs=30, batch_size=32,validation_data= (X_test,y_test))
y_pred = model.predict(X_test)

y_test_class = np.argmax(y_test,axis=1)
y_pred_class = np.argmax(y_pred,axis=1)

Epoch 1/30

ValueError: in user code:

    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\engine\training.py", line 1249, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\engine\training.py", line 1233, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\engine\training.py", line 1222, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\engine\training.py", line 1024, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\engine\training.py", line 1082, in compute_loss
        return self.compiled_loss(
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\engine\compile_utils.py", line 265, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\losses.py", line 152, in __call__
        losses = call_fn(y_true, y_pred)
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\losses.py", line 284, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\losses.py", line 2004, in categorical_crossentropy
        return backend.categorical_crossentropy(
    File "C:\Users\jongmin\anaconda3\lib\site-packages\keras\backend.py", line 5532, in categorical_crossentropy
        target.shape.assert_is_compatible_with(output.shape)

    ValueError: Shapes (None, 1) and (None, 3) are incompatible